
header.v2024 {
    background-color: #ffd500;
}


header {

    nav {
        ul {
            &:hover li {
                padding: 5px;
                background-color: #fe9;
                border-radius: 10px;
            }
        }
    }
 }

//
header .header__search {
    border-radius: 32px;
    padding: 6px;
    margin-left: 30px;
    width: 30%;
}
